[run]
branch = True

[report]
# FIXME: https://github.com/nnadeau/pybotics/issues/746
fail_under = 60
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError