{
  "branches": [
    "master"
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular"
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "repositoryUrl": "git@github.com:nnadeau/pybotics.git",
  "tagFormat": "${version}"
}
