language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.5-dev"

# command to install dependencies
before_install:
  - sudo apt-get install -qq python-numpy python-scipy
  - find .
  
install:
  - pip install .
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install codecov
  - pip install pytest-cov
  - pip install pydocstyle

# command to run tests
script:
  - python setup.py test

after_success:
  - coveralls
  - codecov
  - pydocstyle pybotics

# notification settings
notifications:
  email: false
