# tests
flake8==3.4.1
pydocstyle==2.1.1
mypy==0.530
vulture==0.26
bandit==1.4.0
pipdeptree==0.10.1

# coverage
codecov==2.0.9
coveralls==1.2.0
pytest-cov==2.5.1

# misc
GitPython==2.1.7
pandocfilters==1.4.2
pytest==3.2.3
setuptools==36.5.0

# examples
pandas==0.20.3
jupyter==1.0.0
