# tests
flake8==3.4.1
pydocstyle==2.0.0
mypy==0.521
vulture==0.25
bandit==1.4.0
pipdeptree==0.10.1

# coverage
codecov==2.0.9
coveralls==1.1
pytest-cov==2.5.1

# misc
GitPython==2.1.5
pandocfilters==1.4.2
pytest==3.2.1
setuptools==36.2.7

# examples
pandas==0.20.3
jupyter==1.0.0
