include LICENSE
include *.md
include requirements.txt

prune .github
prune examples
prune media
prune tests

exclude .coveragerc
exclude .flake8
exclude .gitignore
exclude .travis.yml
exclude codecov.yml
exclude pytest.ini
exclude Makefile
exclude Pipfile
include Pipfile.lock
