include LICENSE
include *.md
include requirements.txt

prune .github
prune examples
prune media
prune tests

exclude .coveragerc
exclude .flake8
exclude .gitignore
exclude Makefile
exclude Pipfile
include Pipfile.lock
