name: Publish to PyPI

on:
  release:
    types:
      - created

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          pip install poetry
      - name: Build and publish
        run: |
          # bump local package version to match git tag
          poetry version $(git describe --tags --abbrev=0)
          # build and publish package
          poetry build
          poetry publish \
            --username ${{ secrets.PYPI_USERNAME }} \
            --password ${{ secrets.PYPI_PASSWORD }}
